@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --eerie: 20 6% 9%;
    --xanthous: 42 79% 54%;
    --alabaster: 77 11% 87%;
    --tekhelet: 246 46% 37%;
    --radius: 0.5rem;
  }
  .dark {
    --eerie: 20 6% 9%;
    --xanthous: 42 79% 54%;
    --alabaster: 77 11% 87%;
    --tekhelet: 246 46% 37%;
  }
}
